/*
 *
 * Family => Vazir
 */
@font-face {
  font-family: vazir-0;
  src: url('../../../public/fonts/vazir/thin.ttf');
}
@font-face {
  font-family: vazir-1;
  src: url('../../../public/fonts/vazir/light.ttf');
}
@font-face {
  font-family: vazir-2;
  src: url('../../../public/fonts/vazir/regular.ttf');
}
@font-face {
  font-family: vazir-3;
  src: url('../../../public/fonts/vazir/medium.ttf');
}
@font-face {
  font-family: vazir-4;
  src: url('../../../public/fonts/vazir/bold.ttf');
}
